'fileTypes': [
  'sml'
]
'name': 'SugarML'
'patterns': [
  {
    'match': '^(doctype)(\\s*[a-zA-Z0-9-_]+)?'
    'name': 'keyword.other.doctype.sugarml'
  }
  {
    'captures':
      '1':
        'name': 'punctuation.section.comment.sugarml'
    'match': '^\\s*(//?)(?:\\s*[^-\\s]|\\s+\\S).*$\\n?'
    'name': 'comment.line.double-slash.sugarml'
  }
  {
    'begin': '^(\\s*)(//?)\\s*$'
    'beginCaptures':
      '2':
        'name': 'punctuation.section.comment.sugarml'
    'end': '^(?!\\1\\s+|$)'
    'name': 'comment.block.sugarml'
  }
  {
    'begin': '^\\s*({{|{{{)'
    'end': '(}}|}}})$'
    'name': 'source.js.embedded.sugarml'
    'patterns': [
      {
        'include': 'source.js'
      }
    ]
  }
  {
    'begin': '^(\\s*)(script)'
    'beginCaptures':
      '2':
        'name': 'entity.name.tag.script.sugarml'
    'end': '^((?=(\\1)([\\w#\\.]|$\\n?))|^$\\n?)'
    'name': 'source.js.embedded.sugarml'
    'patterns': [
      {
        'begin': '(?<=script)\\s*\\('
        'end': '\\)'
        'patterns': [
          {
            'include': '#tag-stuff'
          }
        ]
      }
      {
        'include': 'source.js'
      }
    ]
  }
  {
    'begin': '^\\s*(?!\\w+\\:)(?:(([\\w]+))|(?=\\.|#))'
    'captures':
      '1':
        'name': 'meta.tag.any.sugarml'
      '2':
        'name': 'entity.name.tag.sugarml'
    'comment': 'Match any tag, id or class. skip AST filters'
    'end': '$|(?!\\.|#|=|-)'
    'patterns': [
      {
        'match': '\\.[\\w-]+'
        'name': 'meta.tag.attribute.class.sugarml'
      }
      {
        'match': '#[\\w-]+'
        'name': 'meta.tag.attribute.id.sugarml'
      }
    ]
  }
  {
    'begin': '(?<=\\w)\\s*\\('
    'end': '\\)'
    'name': 'meta.tag.attribute.sugarml'
    'patterns': [
      {
        'include': '#tag-stuff'
      }
    ]
  }
]
'repository':
  'entities':
    'patterns': [
      {
        'captures':
          '1':
            'name': 'punctuation.definition.entity.sugarml'
          '3':
            'name': 'punctuation.definition.entity.sugarml'
        'match': '(&)([a-zA-Z0-9]+|#[0-9]+|#x[0-9a-fA-F]+)(;)'
        'name': 'constant.character.entity.sugarml'
      }
      {
        'match': '&'
        'name': 'invalid.illegal.bad-ampersand.sugarml'
      }
    ]
  'string-double-quoted':
    'begin': '"'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.sugarml'
    'end': '"'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.sugarml'
    'name': 'string.quoted.double.sugarml'
    'patterns': [
      {
        'include': '#entities'
      }
    ]
  'string-single-quoted':
    'begin': '\''
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.sugarml'
    'end': '\''
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.sugarml'
    'name': 'string.quoted.single.sugarml'
    'patterns': [
      {
        'include': '#entities'
      }
    ]
  'tag-generic-attribute':
    'match': '\\b([a-zA-Z\\-:]+)'
    'name': 'entity.other.attribute-name.sugarml'
  'tag-stuff':
    'patterns': [
      {
        'include': '#string-double-quoted'
      }
      {
        'include': '#string-single-quoted'
      }
      {
        'include': '#tag-generic-attribute'
      }
    ]
'scopeName': 'source.sugarml'
